<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
    Name:
    <input type="text" formControlName="name">
    </label>
  </div>
  <div formGroupName="category">
    <label>
      Category:
      <input type="text" formControlName="name">
    </label>
  </div>
  <div>
    <label>
    Importance:
    <input type="text" formControlName="importance">
    </label>
  </div>
  <div>
    <label>
    Deadline:
    <input type="date" formControlName="deadline">
    </label>
  </div>
  <div>
    <label>
    Complete:
    <input type="checkbox" formControlName="completed">
    </label>
  </div>

  <p>
  <button type="submit" [disabled]="!taskForm.valid">Submit</button>
  </p>

</form>