<form [formGroup]="taskForm">
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <label>
    Category:
    <input type="text" formControlName="category">
  </label>
  <label>
    Name:
    <input type="text" formControlName="importance">
  </label>
  <label>
    Deadline:
    <input type="text" formControlName="deadline">
  </label>
  <label>
    Complete:
    <!-- <input type="text" formControlName="completed"> -->
    <input type="checkbox" formControlName="completed">
  </label>


  <br>
  <button (click)="onSubmit()" [disabled]="!taskForm.valid">Submit</button>

</form>