<div class="navbar">
    <div class="dropdown">
      <button routerLink="tasks" class="dropbtn">Tasks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="tasks">To do list</a>
        <a href="tasks/form">New task</a>
      </div>
    </div>
    <div class="dropdown">
        <button routerLink="categories" class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="categories/">See all categories</a>
          <a href="categories/form">New category</a>
        </div>
    </div>
  
</div> 

<router-outlet></router-outlet>